@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
}

@layer base {
  @font-face {
    font-family: PoppinsMedium;
    src: url(/fonts/Poppins-Medium.woff2) format("woff2")
  }
  @font-face {
    font-family: PoppinsBold;
    src: url(/fonts/Poppins-Bold.woff2) format("woff2")
  }
}
